* {
    margin: 0;
}

/* Header and banner */
.header {
    text-align: right;
    padding: 216px 230px 364px 845px;
    font-family: 'Work Sans';
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

.banner-description {
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}

/* middle section year topic */
.section-middle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 131px 322px 0px 306px;
}

.year-content {
    margin-left: 87px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.year-title {
    margin-bottom: 24px;
}

.plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-top: 130px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
    padding: 0px 665px 0px 765px;
}

.plan-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 230px;
    text-align: center;
}

#plan-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}

#ptag {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* gradient item */
.gradient {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    color: white;
    margin: 130px 300px 130px 400px;
    height: 300px;
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    padding-top: 59px;
    padding-left: 64px ;
}
.btn-call{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
    margin-top: 24px;
    margin-left: 64px;
}

.footer {
    background-color: black;
    height: 577px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0px 130px 230px;

}

.input {
    padding: 130px 229px 243px 0px;
}

.input-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

#footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

#footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

#email {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

#phone {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#mail {
    width: 325px;
    height: 64px;
}